<div>
    <form>
        <h2>Login</h2>
        <section>
            <label for="login-user">Username</label>
            <input type="text" placeholder="Username">
            <label for="login-password">Password</label>
            <input type="text" placeholder="Password">
        </section>
        <p class="hide">Please enter a valid username and password.</p>
        <button type="submit" class="btn signin-btn">LOGIN</button>
        <h3>Don't have an account yet? <a href="/signup">Create an account</a></h3>
    </form>
</div>

<script src="../public/js/login.js"></script>