<div>
    <form>
        <h2>Sign Up</h2>
        <section>
            <label for="signup-user">Username</label>
            <input type="text" placeholder="Username">
            <label for="signup-password">Password</label>
            <input type="text" placeholder="Password">
        </section>
        <button type="submit" class="btn signin-btn">Create Account</button>
        <h3>Already have an account? <a href="/login">Login</a></h3>
    </form>
</div>
<script src="../public/js/signup.js"></script>